<div class="col-md-12">

  <div class="card callout callout-success">
    <div class="card-header">
      <h3 class="card-title">Uploaded Documents to Process</h3>
      <div class="card-tools">
        {{#if docs}}
        <a href="/docs/process" class="btn btn-warning btn-sm"><i class="fas fa-cogs"></i> Process all
          files</a>
        {{/if}}
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>

            <th>Doc Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each docs}}
          <tr>

            <td>{{this}}
            </td>
            <td>
              <div class="btn-group">
                <form action="/docs/individual/{{this}}" method="POST">
                  <input type="hidden" name="_method" value="POST">
                  <input type="hidden" name="doc" value="{{this}}">
                  <button type="submit" class="btn btn-info"><i class="fas fa-cogs"></i></button>
                </form>
                <form action="/docs/remove/{{this}}" method="POST">
                  <input type="hidden" name="_method" value="POST">
                  <input type="hidden" name="doc" value="{{this}}">
                  <button type="submit" class="btn btn-warning"><i class="fas fa-trash"></i></button>
                </form>

              </div>
            </td>
          </tr>
          {{/each}}


        </tbody>
        <tfoot>
          <tr>

            <th>Doc Name</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <script>
    window.onload = function () {
      document.getElementById('docsList').classList.add("active");
    }
  </script>
</div>
<!-- /.col -->